# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Virtualenv
env/
venv/
ENV/
*.env

# Node / React
node_modules/
build/
dist/

# Logs
*.log

# OS stuff
.DS_Store

# Docker / large archives
*.tgz
*.tar.gz
*.zip
*.tgz